.sales {
	color: #8b8b8bcc;
	font-size: 22px;
}

.mainText {
	color: #46484c;
}

h1 {
	color: #025157;
	background-color: gainsboro;
}

button {
	color: #fff;
	background-color: #025157;
}

body {
	background-color: #e8edff;
}

.header {
	margin: 40px 20px 0; /* top bottom sides */
	font-size: 0; /* el inline-block que se le pone a todos los hijos incluye los espacios */
}

li {
	display: inline;
  }

.header > * {
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	height: 100%;
	line-height: 45px;
}

.logo {
	width: 15%;
}

.logo > img {
	width: 15%;
}

.navbar {
	width: 70%;
	text-align: center;
	color: #025157;
	font-weight: 500;
}

.navbar > *
{
	font-family: sans-serif, Arial, Helvetica;
	font-size: 45px;
}

.navbar ul{
	margin: 25px 0px;
	color: #025157;
}

.actions {
	width: 15%;
	text-align: right;
	font-size: 14px;
	font-weight: 600;
	/* margin: 0px 10px; */
}

.actions button{
	color: white;
	background-color: #67b54b;
	padding: 12px 14px;
	border: 0px;
	border-radius: 5px;
}

.actions a{
	color: #67b54b;
}

.main {
	margin-top: 140px;
	text-align: center;
}
